@font-face {
  font-family: roc-grotesk;
  src: url(https://use.typekit.net/af/97dd77/00000000000000007735b7d4/30/l?subset_id=2&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/97dd77/00000000000000007735b7d4/30/d?subset_id=2&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/97dd77/00000000000000007735b7d4/30/a?subset_id=2&fvd=n4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: roc-grotesk;
  src: url(https://use.typekit.net/af/975d46/00000000000000007735b7c3/30/l?subset_id=2&fvd=n7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/975d46/00000000000000007735b7c3/30/d?subset_id=2&fvd=n7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/975d46/00000000000000007735b7c3/30/a?subset_id=2&fvd=n7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}

* {
  font-family: 'roc-grotesk';
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
